<% include ../partials/profile-header %> <!-- Row set up in profile-header -->


        <% if(user.orders[0] != null){ %>
            <div class="col-sm-6 col-md-6 order-history-container">
                <h2>Order History</h2>
                <div class="col-md-9 order-history-item-container">
                <% user.orders.forEach(function(order){ %>
                        <div class="order-history-item">
                            <h4>Hello</h4>
                        </div>
                <% }); %>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-6 col-md-6 order-history-container">
                <h2>You have not placed any orders</h2>
            </div>
        <% } %>

<% include ../partials/profile-footer %>
