body{
    position: relative;
}

#content {
    margin-top: 51px;
}

.navbar .container-fluid {
    padding: 0 40px;
}
.container-fluid {
    margin: auto 5%;
}

.container-fluid h1 {
    padding-left: 25px;
}
