.food-item {
    border: 1px solid #c5c5c5;
    padding: 10px 15px;
    margin: 10px;
    height: 150px;
}

.navbar-fixed {
    top: 51px;
    z-index: 10;
}


.modal-radio{
    padding: 10px 25px;
}

.modal-radio label{
    font: inherit;
}

.modal-select{
    padding: 10px 25px;
}

.modal-select label{
    font: inherit;
}
