.menu-container{
}

.parallax-header{
    background-image: url("https://static1.squarespace.com/static/53f144b0e4b0bfa013c298ad/545c2a5ee4b0ba3d01d7612a/59ee70490abd0407c4768739/1508798545034/Acitron-Cocina-High+Res.JPG?format=1500w");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-fixed {
    top: 51px;
    z-index: 10;
}

.food-item {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin: 10px;
    height: 150px;
    background: white;
}

.food-item-img{
    border-radius: 0 4px 4px 0;
     width: 148px;
     height: 148px;
     float: right;
}

.food-item-description{
    color: #777777;
    max-height: 2.9em;
    overflow: hidden;
}

.food-item-content{
    margin: 20px 15px;
}

.modal-img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.modal-radio{
    padding: 10px 25px;
}

.modal-radio label{
    font: inherit;
}

.modal-select{
    padding: 10px 25px;
}

.modal-select label{
    font: inherit;
}
