.order-container{
    margin: 20px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.customer-row{
    display: block;
    height: 75px;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    background: #f2f2f2;
    border-radius: 5px 5px 0 0;
}

.customer-info{
    display: inline-block;
}

.order-item-container{
    display: inline-block;
    margin: 10px 12px;
    border-bottom: 1px solid #dddddd;
    width: 68%;
    float: left;
}

.order-item-row{
    display: block;
}

.order-item{
    display: inline-block;
    padding: 0 8px;
    font-size: 15px;
}

.order-item-price{
    text-align: right;
    float: right;
}

.order-button-container{
    display: inline-block;
    width: 29%;
    float: right;
}

.order-button-container .btn{
    display: block;
    margin: 5px auto 0 auto;
    width: 90%;
    font-size: 16px;
}

.order-total-container{
    display: block;
    margin: 10px 12px;
    width: 67.5%;
    font-size: 15px;
}

.order-total-container p{
    margin: 0;
}

.order-delivery-instructions{
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}
