/* Profile Header */
.nav-pills .active{
    width: 105%;
}

.nav-pills {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0 0 5px 5px;
    border: 1px solid #dddddd;
    border-top: none;
    position: fixed;
    width: 300px;
}

.nav-pills li a{
    padding: 10px 30px;
}

.nav-pills li h2{
    padding: 0 30px;
}


/* Order Histroy */
.order-history-container{
    display: inline-block;
    margin-top: 15px;
    float: left; padding: 0;
}
.order-history-container h2{
    margin-bottom: 20px;
}

.order-history-item-container{
    padding: 0;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.order-history-item{
    display: block;
    float: left;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    padding: 7px;
}
