<% include ../partials/header %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% orders.forEach(function(order){ %>
            <div class="thumbnail" style="margin-top: 20px; ">
                <div class="subdiv">
                    <h1><%= order.name %></h1>
                    <p><%= order.phone %></p>
                    <% for(var id in order.cart.items){ %>
                        <p><%= order.cart.items[id].item.name %></p>
                    <% } %>

                </div>

            </div>
        <% }); %>
    </div>
</div>

<script>
    nav = navigator.geolocation;
    nav.getCurrentPosition(success, failure);

    function success(position){
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        alert(lat);
        alert(long);
    }

    function failure(){
        alert("Could not get location.");
    }
</script>
<% include ../partials/footer %>
