<% include ../partials/header %>

<div class="row">
    <h1 style="text-align: center">Sign In</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/user/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <!-- <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="name@example.com">
            </div> -->
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Log In</button>
            </div>
        </form>
        <div class="text-center">
            <p>New to FoodDeliverEat?</p>
            <a href="/user/register" class="btn btn-success">Create your FoodDeliverEat Account</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
